/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
} 
 
/* ...........................................................................................................*/

.content{
  
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.wrapper{
  min-width: 100%;
  flex: 0 0 auto;
    
}

.first h1 {
  font-family: "Abro Bold";
    text-align: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 120px;
    text-transform: uppercase;    
}

.first h2{
  font-family: "Abro Bold";
  text-align: center;
  color:#FFFFFF;
  font-size: 120px;
  text-transform: uppercase;  
}

.second h1{
    font-family: "Abro Bold";
    margin-top: 60px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase; 
}

.mainH{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.button-wrapper button {
   font-family: "Abro Regular"; 
   font-size: 24px;
    display: block;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    border-style: dashed ;
    border-radius: 100%;
}

.button-wrapper button:hover{
    color: black;
    background: #FBBF13;
}

.button-wrapper{
  display: flex;	
  justify-content: center;
}
.scroll-wrapper{
  display: flex;
  justify-content: flex-end;
}

.scroll-wrapper a{
  font-family: "Abro Regular"; 
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
}

.scroll-wrapper img{
  display: inline;
}

.second {
    margin-left: 96px;
}


.second h2{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}

.employee{
  margin-top: 50 px;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 25%;
}

.number{
  display: inline;
  width: 62px;
  border: 2px solid #FFFFFF;
  border-radius: 15%;
  color: #fff;
  font-size: 44px;
}

.column h3{
  font-size: 30px;
  color: #fff;
  display: inline;
}

.column p{
  font-size: 24px;
  color: #fff;
}


body{
  background-color: #000;
  color: #fff;
}

.conteiner{
  width: 1920px;
  padding-left: 96px;
  padding-right: 96px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo a{
  width: 170px;
  height: 40px;
  display: block;
  background: url(../img/Logo.svg) no-repeat;
}

.header-logo a:hover{
  background: url(../img/LogoHover.svg) no-repeat;
}

.header-social ul{
  display: flex;
  
}

.header-social li{
  margin-right: 50px;
  list-style-type: none;
}

.header-social li:last-child{
  margin-right: 25px;
}

.header-social li:first-child{
  margin-left: 33px;
}

a.skype{
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/skype.svg) no-repeat;
}

a.skype:hover{
  background: url(../img/skypeH.svg) no-repeat;
}

a.tg{
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/tg.svg) no-repeat;
}

a.tg:hover{
  background: url(../img/tgH.svg) no-repeat;
}

a.viber{
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/viber.svg) no-repeat;
}

a.viber:hover{
  background: url(../img/viberH.svg) no-repeat;
}
a.wup{
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/wup.svg) no-repeat;
}

a.wup:hover{
  background: url(../img/wupH.svg) no-repeat;
}

a.email{
  width: 40px;
  height: 40px;
  display: block;
  background: url(../img/email.svg) no-repeat;
}

a.email:hover{
  background: url(../img/emailH.svg) no-repeat;
}

.supportUA{
  display: inline-block;
  font-family: "Abro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FB1515;
  height: 42px;
  padding-left: 29px;
  padding-right: 29px;
  margin-right: 26x;
  margin-left: 26px;
}

.consulation{
  display: inline-block;
  font-family: "Abro Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  color: #141414;
  background-color: #FBBF13;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 26x;
  margin-left: 26px;
}






@font-face {
  font-family: "Abro Regular"; 
  src: url("../fonts/AbroSans\ Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

  @font-face {
    font-family: "Abro Bold"; 
    src: url("../fonts/AbroSans\ Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 