/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
} 
 
/* ........................................................................................................... */

 body{
    background-color:#141414;;
}

header{
    border-bottom: 2px solid #FFFFFF;
}


.nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style-type: none;
    color: blanchedalmond;
    }

    ul.nav>li{
        border-right: 2px solid #FFFFFF;
    }

a.logo{
    width: 170px;
    height: 40px;
    display: block;
    background: url(../img/Logo.svg) no-repeat;
}

a.logo:hover{
    background: url(../img/LogoHover.svg) no-repeat;
}

.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    list-style-type: none;
}


a.skype{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/skype.svg) no-repeat;
}

a.skype:hover{
    background: url(../img/skypeH.svg) no-repeat;
}

a.tg{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/tg.svg) no-repeat;
}

a.tg:hover{
    background: url(../img/tgH.svg) no-repeat;
}

a.viber{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/viber.svg) no-repeat;
}

a.viber:hover{
    background: url(../img/viberH.svg) no-repeat;
}
a.wup{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/wup.svg) no-repeat;
}

a.wup:hover{
    background: url(../img/wupH.svg) no-repeat;
}

a.email{
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/email.svg) no-repeat;
}

a.email:hover{
    background: url(../img/emailH.svg) no-repeat;
}

button.supportUA {
    color: white;
    border: none;
    width: 241px;
    height: 42px;
    background-color: #FB1515;
}

button.consultation {
    color: black;
    border: none;
    width: 241px;
    height: 42px;
    background-color: #FBBF13;
}

/* HAMBURGER MENU */

label{
    display:flex;
     flex-direction:column;
     justify-content: flex-end;
     width:50px;
     cursor:pointer;
   }
   
   label span{
     background: #fff;
     
     height:3px;
     margin: 10px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   span:nth-of-type(1){
     width:100%;
     
   }
   
   span:nth-of-type(2){
     width:75%;
   }
   
   
   span:nth-of-type(3){
     width:100%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }



.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteiner h1, h2 {
    text-align: center;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;    
    
}

.conteiner h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.button-wrapper button {
    display: block;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    border-style: dashed ;
    border-radius: 100%;
}

.button-wrapper button:hover{
    color: black;
    background: #FBBF13;
}

.button-wrapper{
  display: flex;	
  justify-content: center;
}
.scroll-wrapper{
  display: flex;
  justify-content: flex-end;
}

.scroll-wrapper a{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
}

.scroll-wrapper img{
  display: inline;
}